

<footer class="footer py-6 @@classes">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>By Taras Tunka</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://twitter.com/persicad" aria-label="twitter social link" class="icon-dark me-2">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/#" class="icon-dark me-2" aria-label="facebook social link">
                            <span class="fab fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/#" aria-label="github social link" class="icon-dark me-2">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    
                </ul>
            </div>
    </div>
</footer>